.carouselContainer {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
  background-color: #f9f9f9;
  margin-block: 1rem;
}

.slider {
  display: flex;
}

.slide {
  transition: all 0.3s ease;
}

.big {
  flex: 0 0 65%;
}

.small {
  flex: 0 0 35%;
  opacity: 0.6;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 12px;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  pointer-events: none;
  z-index: 10;
}

.arrowButton {
  background: #fff;
  border: none;
  padding: 0.15rem;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.arrowButton img {
  width: 24px;
  height: 24px;
}

.arrowButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
